{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt omnis dicta pariatur amet earum est illum qui aut eius excepturi animi ipsam doloremque tempora eum possimus, culpa vel ex. Natus.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/burro.jpg" class="img-thumbnail" >

        </div>
    </div>
{{> footer }}